body {
  background-color:dimgray;
}
.gap {
  padding:2rem;
}
#quote {
  background-color:lightgray;
  width:auto;
}
h3 {
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 25px;
}
#twitter {
  margin-top: 1rem;
}
